.wrapper {
  position: relative;
  background-color: rgb(110, 110, 110);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 10px 10px 0px 10px;
  &:last-child {
    margin-bottom: 10px;
  }
  .leftSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .rightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .userInfo {
      display: flex;
      flex-direction: column;
      .userName,
      .date {
        display: flex;
        justify-content: flex-end;
        &.userName {
          font-size: 15px;
        }
        &.date {
          font-size: 13px;
        }
      }
    }
    .editButton {
      width: 30px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      &:hover {
        cursor: pointer;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
