.wrapper {
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  margin: 10px 10px 0px 10px;
  transition: .2s border-color, .2s background-color;
  border: 1px solid #6e6e6e;
  box-shadow: 1px 1px 1px 0px #6e6e6e;
  &:hover {
    border-color: #b7b7b7;
    background-color: rgba(255, 255, 255, 0.055);
  }
  .mainBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 10px;
    }
    .leftSide {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      text-decoration: none;
      color: #c7c7c7;
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .rightSide {
      display: flex;
      flex-direction: row;
      min-width: fit-content;
      justify-content: flex-end;
      color: #c7c7c7;
      .userInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .userName,
        .date {
          display: flex;
          justify-content: flex-end;
          text-align: end;
          &.userName {
            font-size: 13px;
          }
          &.date {
            font-size: 12px;
          }
        }
      }
      .editButton {
        width: 30px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        &:hover {
          cursor: pointer;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .editBlock {
    overflow: hidden;
    width: 100%;
    height: 0px;
    transition: .3s height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &.show {
      height: 40px;
    }
    .renameChat {
      width: 100%;
      form {
        display: inline-block;
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .inputBlock {
          position: relative;
          padding: 0 10px 0 0;
          width: calc(100% - 100px);
          input {
            width: 100%;
            box-sizing: border-box;
            border: 0px solid transparent;
            color: var(--font);
            background-color: var(--input);
            padding: 8px;
            transition: 0.1s background-color;
            &:focus {
              outline: none;
            }
            &:-internal-autofill-selected {
              appearance: menulist-button;
              background-color: var(--input) !important;
              background-image: none !important;
              color: var(--font) !important;
            }
          }
          .error {
            position: absolute;
            left: 325px;
            top: 8px;
            font-size: 13px;
            color: var(--font-wrong);
            width: max-content;
          }
        }
        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          height: 100%;
          button {
            background-color: var(--grey-2);
            border-radius: 4px;
            border: 0px;
            transition: .2s background-color, .2s color;
            color: rgb(0, 0, 0);
            font-size: 17px;
            &:hover {
              cursor: pointer;
              background-color: var(--grey-1);
            }
            &:focus {
              outline: none;
              background-color: var(--block);
            }
            &.submit {
              width: 100%;
              height: 100%;
            }
            &.disabled {
              pointer-events: none;
              color: #757575;
              background-color: #5d5d5d;
            }
          }
        }
      }
    }
    .removeChatButton {
      padding: 0 10px;
      margin-left: 10px;
      height: 30px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(177, 63, 63);
      transition: .2s background-color;
      &:hover {
        cursor: pointer;
        background-color: rgb(153, 58, 58);
      }
    }
  }
}
