.wrapper {
  height: 60px;
  background-color: rgb(83, 83, 83);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .items {
    display: flex;
    flex-direction: row;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      text-decoration: none;
      color: black;
      transition: .2s background-color;
      &:hover {
        background-color: rgba(0, 0, 0, 0.082);
      }
    }
  }
  .itemsRight {
    display: flex;
    flex-direction: row;
    .itemRight {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      transition: .2s background-color;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.082);
      }
      &.account {
        font-weight: bold;
        color: #d22c2c;
        font-size: 20px;
      }
    }
  }
}