.app {
  position: relative;
  background-color: rgb(44, 44, 44);
  margin: 4px auto;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
  .header {
    position: relative;
  }
  .content {
    position: relative;
  }
}
